{{ define "main" }}
<main class="main" role="main">
	<article class="post">
		<header class="post__header">
			<h1 class="post__title">{{ .Title }}</h1>
			{{- with .Params.lead }}
			<p class="post__lead">{{ . }}</p>
			{{- end }}
			{{ with partial "post_meta.html" . -}}
			<div class="post__meta meta">{{ . }}</div>
			{{- end }}
		</header>
		{{ partial "post_thumbnail.html" (dict "class" "post" "page" .) }}
		{{- partial "post_toc.html" . -}}
		<div class="content post__content clearfix">
			{{ .Content }}
		</div>
		{{- if .Params.information }}
			{{- range .Params.information }}
				{{- if eq . "blogwochen2025" }}
					<div class="content post__footer clearfix" style="background-color: #f5f5f5; padding: 1em; border-left: 0.25em solid red;">
						Diesen Beitrag schrieb ich im Rahmen der <a href="/tags/blogwochen2025/" rel="tag">BlogWochen2025</a>. Wenn du selber einen Blog hast und eigene Gedanken dazu hast, kannst du gerne mit machen und selbst darüber schreiben! Mehr zu dem Projekt ist im <a href="https://nureinblog.at/54063-im-mai-beginnen-die-blogwochen/">Blog von Robert</a> zu finden.
					</div>
				{{- end }}
			{{- end }}
		{{- end }}
		{{- if .Params.tags }}
		<footer class="post__footer">
			{{ partial "post_tags.html" . }}
		</footer>
		{{- end }}
	</article>
</main>
{{ partial "authorbox.html" . }}
{{ partial "pager.html" . }}
{{ partial "comments.html" . }}
{{ end }}
