{{- if and (.Param "authorbox") (.Params.author) }}
<div class="authorbox clearfix">
	<h3>
		{{- $authors := .Params.author }}
		{{- if not (reflect.IsSlice $authors) }}
		Autor
		{{- else if gt (len $authors) 1 }}
		Autoren
		{{- else }}
		Autor
		{{- end }}
	</h3>

	{{- if not (reflect.IsSlice $authors) }}
	{{- $authors = slice $authors }}
	{{- end }}

	{{- range $authorName := $authors }}
	{{- $authorKey := $authorName | urlize }}
	{{- $author := (index $.Site.Taxonomies.authors $authorKey) }}

	{{- if not $author }}
	{{- $author = $.Site.GetPage (printf "authors/%s.md" $authorName) }}
	{{- end }}

	{{- if $author }}
	<div class="authorbox__entry">
		{{- with $author.Params.avatar }}
		<figure class="authorbox__avatar">
			<img
				alt="{{ $author.Params.name }}"
				src="{{ . | relURL }}"
				class="avatar"
				height="90"
				width="90" />
		</figure>
		{{- end }}

		{{- with $author.Params.name }}
		<div class="authorbox__header">
			<a href="/authors/{{ . | urlize }}/">
				<span class="authorbox__name">{{ . }}</span>
			</a>
			<meta property="article:author" content="{{ . }}" />
		</div>
		{{- end }}

		{{- with $author.Params.bio }}
		<div class="authorbox__description">
			<p>{{ . | markdownify }}</p>
		</div>
		{{- end }}
	</div>
	{{- else }}
	<!-- No author found -->
	{{- end }}
	{{- end }}
</div>
{{- else }}
<!-- no author listed -->
{{- end }}